5Newsgroups/*_*
5Newsgroups.ZIP
chi_fse
classes
Formatting
output
*~
output.csv
prediction.txt
predict.sh
projectgroups-2011.xls
*.aux
*.log
report.pdf
reselect.sh
results
runbatch.sh
texput.log
THEMODEL
voted-result
